### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [62]:
#Need to drop names that appear more than once in the data set
#Use SN and .nunique function

players = purchase_data['SN'].nunique()
players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
#Find the NUMBER OF UNIQUE ITEMS using "Item ID"

Unique_Items = purchase_data['Item ID'].nunique()
Unique_Items

183

In [64]:
#Calculate total Revenue by using Summing Values of 'Price'

Revenue = purchase_data['Price'].sum()
Revenue

2379.77

In [65]:
#Calculate number of TOTAL PURCHASES pulling from 'Purchase ID' column

Total = len(purchase_data['Purchase ID'])
Total

780

In [66]:
#Find Average Price of all purchases

Average_Price = round(Revenue/Total,2)
Average_Price

3.05

In [67]:
#Display DataFrame
Purchase_Analysis = pd.DataFrame({'Number of Unique Items': [Unique_Items], 
                            'Average_Price': [Average_Price], 
                            'Total': [Total], 
                            'Revenue': [Revenue]
})
Purchase_Analysis.style.format({'Average_Price':"${:,.2f}",
                         'Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [68]:
#Count of male players

#Males= purchase_data['SN'].nunique() 
# else purchase_data["Gender"] == 'Male'
#Males.sum()

Males = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
Males

484

In [69]:
#Percentage of Male players

Males_percent = (Males/players) * 100
Males_percent

84.02777777777779

In [70]:
#Count of Female players

Females= purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
Females

81

In [71]:
#Percentage of Female players

Female_percent = (Females/players) * 100
Female_percent

14.0625

In [72]:
#Count of Other

Other = players - Males - Females
Other

11

In [73]:
#Percentage of Other

Other_percentage= (Other/players)* 100
Other_percentage

1.9097222222222223

In [74]:
#Display dataframe of percentages
Gender_Percent = pd.DataFrame({'Percentage of Male Players': [Males_percent], 
                            'Percentage of Female Players': [Females], 
                            'Percentage of Others': [Other]
})
Gender_Percent

,Percentage of Male Players,Percentage of Female Players,Percentage of Others
0,84.027778,81,11

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#Group up Gender iformation

Gender_Info = purchase_data.groupby("Gender")
Gender_Info

In [76]:
#Get purchase_count by gender

purchase_count = Gender_Info['Purchase ID'].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [77]:
#Get Avergage_Purchase_Price(mean)

Avg_Purchase_Price = Gender_Info['Price'].mean()
Avg_Purchase_Price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [78]:
#Obtain avg. purchase total per person(sum)

Avg_Purchase_Total = Gender_Info['Price'].sum()
Avg_Purchase_Total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [79]:
#Avg_Purchase_Per_Person

Avg_Purchase_Per_Person = Avg_Purchase_Total/Total
Avg_Purchase_Per_Person

Gender
Female                   0.464026
Male                     2.522615
Other / Non-Disclosed    0.064346
Name: Price, dtype: float64

In [80]:
Gender_analysis = pd.DataFrame({'Prurchase Count by Gender': purchase_count, 'Avg Purchase Price by Gender': Avg_Purchase_Price, 'Avg Purchase Total': Avg_Purchase_Total, 'Avg Purchase Per Person': Avg_Purchase_Per_Person})
Gender_analysis

,Prurchase Count by Gender,Avg Purchase Price by Gender,Avg Purchase Total,Avg Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,0.464026
Male,652,3.017853,1967.64,2.522615
Other / Non-Disclosed,15,3.346000,50.19,0.064346

In [57]:
#Gender_analysis works now for formatting
#index

# Gender_analysis.index.name = "Gender Analytics"
# Gender_analysis
#Too Hell with formatting (Table Flip)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [81]:
#Use bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [82]:
#Sort and divide age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [83]:
#Form a new df with the added "Age Group"
age_grouped = purchase_data.groupby("Age Group")
age_grouped

In [84]:
#Count total players by age
total_count_age = age_grouped["SN"].nunique()
total_count_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [85]:
#Calculate percentages by age 
percent_by_age = (total_count_age/Total) * 100
percent_by_age

Age Group
<10       2.179487
10-14     2.820513
15-19    13.717949
20-24    33.076923
25-29     9.871795
30-34     6.666667
35-39     3.974359
40+       1.538462
Name: SN, dtype: float64

In [86]:
#Create data frame with obtained values
age_demo = pd.DataFrame({'Percentage of Players': percent_by_age, 'Total Count': total_count_age})

age_demo

#Gender_Percent = pd.DataFrame({'Percentage of Male Players': [Males_percent], 
#                            'Percentage of Female Players': [Females], 
#                            'Percentage of Others': [Other]
#})#

           Percentage of Players  Total Count
Age Group
<10                     2.179487           17
10-14                   2.820513           22
15-19                  13.717949          107
20-24                  33.076923          258
25-29                   9.871795           77
30-34                   6.666667           52
35-39                   3.974359           31
40+                     1.538462           12

In [49]:
#Format the data frame with no name
age_demo.index.name = None

In [87]:
#Format to the second decimal
age_demo.style.format({'Percentage of Players':'{:,.2f}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [88]:
#Bin purchase_data dataframe by age
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [91]:
#Obtain purchase_count_age

purchase_count_age = age_grouped['Purchase ID'].count()
purchase_count_age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [92]:
#Obtain avg_purchase_price_age

avg_purchase_price_age = age_grouped['Price'].mean()
avg_purchase_price_age

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [93]:
#Obtain purchase_total_per_person

purchase_total_per_person = age_grouped['Price'].sum()
purchase_total_per_person

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [94]:
#Create and display summary df

purchase_analysis_age = pd.DataFrame({'Purchase Count': purchase_count_age, 'Avg Purchase Price': avg_purchase_price_age, 'Purchase Total Per Person': purchase_total_per_person})

purchase_analysis_age

           Purchase Count  Avg Purchase Price  Purchase Total Per Person
Age Group
<10                    23            3.353478                      77.13
10-14                  28            2.956429                      82.78
15-19                 136            3.035956                     412.89
20-24                 365            3.052219                    1114.06
25-29                 101            2.900990                     293.00
30-34                  73            2.931507                     214.00
35-39                  41            3.601707                     147.67
40+                    13            2.941538                      38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Find the to five spenders and make a df to display those findings

In [95]:
#Group the purchase_data by SN

spender_stat= purchase_data.groupby('SN')
spender_stat

In [96]:
#Count the total number of purchases by "Purchase ID"

purchase_count_spend= spender_stat['Purchase ID'].count()
purchase_count_spend

SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
Aelastirin39       2
Aelidru27          1
Aelin32            3
Aelly27            2
Aellynun67         1
Aellyria80         1
Aelollo59          2
Aenarap34          1
Aeral43            1
Aeral68            1
Aeral97            1
Aeralria27         1
Aeralstical35      1
Aeri84             1
Aerillorin70       1
Aerithllora36      2
Aerithnucal56      1
Aerithnuphos61     1
Aerithriaphos45    1
Aerithriaphos46    1
Aesri53            1
Aesty53            2
Aestysu37          2
Aesur96            1
Aesurstilis64      1
                  ..
Undosia27          1
Undosian34         2
Undotesta33        1
Wailin72           1
Yadacal26          2
Yadaisuir65        1
Yadam35            1
Yadanu52           1
Yadaphos40         2
Yalae81            2
Yalaeria91         1
Yaliru88           1
Yalo85             1
Yalostiphos68      1
Yana46             1
Yarithllodeu72     1
Yarithrgue83       1
Yarithrin84        1
Yarithsurgue62     1
Yarolwen77         1
Yasrisu92          1
Yastyriaphos75     1
Yasur35            1
Yasur85            1
Yathecal72         1
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3
Name: Purchase ID, Length: 576, dtype: int64

In [97]:
#Find the average spending

avg_purchase_spend= spender_stat['Price'].mean()
avg_purchase_spend

SN
Adairialis76       2.280000
Adastirin33        4.480000
Aeda94             4.910000
Aela59             4.320000
Aelaria33          1.790000
Aelastirin39       3.645000
Aelidru27          1.090000
Aelin32            2.993333
Aelly27            3.395000
Aellynun67         3.740000
Aellyria80         3.080000
Aelollo59          2.815000
Aenarap34          2.960000
Aeral43            4.400000
Aeral68            4.000000
Aeral97            4.800000
Aeralria27         4.090000
Aeralstical35      2.960000
Aeri84             1.610000
Aerillorin70       3.330000
Aerithllora36      4.320000
Aerithnucal56      4.400000
Aerithnuphos61     4.910000
Aerithriaphos45    1.560000
Aerithriaphos46    2.180000
Aesri53            1.760000
Aesty53            1.955000
Aestysu37          2.690000
Aesur96            2.210000
Aesurstilis64      1.030000
                     ...
Undosia27          3.770000
Undosian34         4.150000
Undotesta33        4.740000
Wailin72           2.730000
Yadacal26          3.270000
Yadaisuir65        4.090000
Yadam35            2.480000
Yadanu52           2.380000
Yadaphos40         2.675000
Yalae81            3.345000
Yalaeria91         1.060000
Yaliru88           3.030000
Yalo85             3.650000
Yalostiphos68      4.400000
Yana46             3.550000
Yarithllodeu72     3.750000
Yarithrgue83       3.450000
Yarithrin84        4.140000
Yarithsurgue62     4.940000
Yarolwen77         4.430000
Yasrisu92          3.440000
Yastyriaphos75     4.750000
Yasur35            4.480000
Yasur85            1.100000
Yathecal72         3.460000
Yathecal82         2.073333
Yathedeu43         3.010000
Yoishirrala98      4.580000
Zhisrisu83         3.945000
Zontibe81          2.676667
Name: Price, Length: 576, dtype: float64

In [99]:
#Find total of money spent 

purchase_total_spend= spender_stat['Price'].sum()
purchase_total_spend

SN
Adairialis76       2.28
Adastirin33        4.48
Aeda94             4.91
Aela59             4.32
Aelaria33          1.79
Aelastirin39       7.29
Aelidru27          1.09
Aelin32            8.98
Aelly27            6.79
Aellynun67         3.74
Aellyria80         3.08
Aelollo59          5.63
Aenarap34          2.96
Aeral43            4.40
Aeral68            4.00
Aeral97            4.80
Aeralria27         4.09
Aeralstical35      2.96
Aeri84             1.61
Aerillorin70       3.33
Aerithllora36      8.64
Aerithnucal56      4.40
Aerithnuphos61     4.91
Aerithriaphos45    1.56
Aerithriaphos46    2.18
Aesri53            1.76
Aesty53            3.91
Aestysu37          5.38
Aesur96            2.21
Aesurstilis64      1.03
                   ...
Undosia27          3.77
Undosian34         8.30
Undotesta33        4.74
Wailin72           2.73
Yadacal26          6.54
Yadaisuir65        4.09
Yadam35            2.48
Yadanu52           2.38
Yadaphos40         5.35
Yalae81            6.69
Yalaeria91         1.06
Yaliru88           3.03
Yalo85             3.65
Yalostiphos68      4.40
Yana46             3.55
Yarithllodeu72     3.75
Yarithrgue83       3.45
Yarithrin84        4.14
Yarithsurgue62     4.94
Yarolwen77         4.43
Yasrisu92          3.44
Yastyriaphos75     4.75
Yasur35            4.48
Yasur85            1.10
Yathecal72         3.46
Yathecal82         6.22
Yathedeu43         6.02
Yoishirrala98      4.58
Zhisrisu83         7.89
Zontibe81          8.03
Name: Price, Length: 576, dtype: float64

In [127]:
#Create df showing the top 5
#DF
top5_spenders= pd.DataFrame({'Purchase Count': purchase_total_spend, 
                             'Average Purchase Amount': avg_purchase_spend, 
                             'Total Purchase Amount': purchase_total_spend})
#formating....
top5_formatted = top5_spenders.sort_values(['Total Purchase Amount'], ascending=False).head()

#money format

top5_formatted.style.format({'Purchase Count': '${:,.2f}',
                            'Average Purchase Amount': '${:,.2f}',
                            'Total Purchase Amount': '${:,.2f}'})

In [114]:
#formating....
#top5_formatted= top5_spenders.sort.values({'Total Purchase Amount'}, ascending=False).head()
#sort_values not sort.values

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [154]:
#New DF with items

Items_df= purchase_data[['Item ID', 'Item Name', 'Price']]
Items_df

     Item ID                                     Item Name  Price
0        108     Extraction, Quickblade Of Trembling Hands   3.53
1        143                             Frenzied Scimitar   1.56
2         92                                  Final Critic   4.88
3        100                                   Blindscythe   3.27
4        131                                          Fury   1.44
5         81                                     Dreamkiss   3.61
6        169        Interrogator, Blood Blade of the Queen   2.18
7        162                                 Abyssal Shard   2.67
8         21                                     Souleater   1.10
9        136                  Ghastly Adamantite Protector   3.58
10        95                         Singed Onyx Warscythe   4.74
11       162                                 Abyssal Shard   2.67
12       116                       Renewed Skeletal Katana   4.18
13         4                            Bloodlord's Fetish   1.70
14       165                   Bone Crushing Silver Skewer   4.86
15        98                   Deadline, Voice Of Subtlety   2.89
16        40                                 Second Chance   2.52
17       161                                        Devine   1.76
18        82                                       Nirvana   4.90
19        89             Blazefury, Protector of Delusions   4.64
20        57               Despair, Favor of Due Diligence   4.60
21       168           Sun Strike, Jaws of Twisted Visions   1.48
22        24                                 Warped Fetish   3.81
23       151                                     Severance   3.40
24       141                                    Persuasion   3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm   4.23
26        71                                        Demise   1.61
27        96                   Blood-Forged Skeletal Spine   3.09
28       119     Stormbringer, Dark Blade of Ending Misery   4.32
29        37           Shadow Strike, Glory of Ending Hope   3.16
..       ...                                           ...    ...
750      167                   Malice, Legacy of the Queen   3.61
751      180                                   Stormcaller   3.36
752      112                                  Worldbreaker   2.60
753      178  Oathbreaker, Last Hope of the Breaking Storm   4.23
754       79                           Alpha, Oath of Zeal   4.05
755       76                      Haunted Bronzed Bludgeon   3.15
756       73                                   Ritual Mace   2.05
757       57               Despair, Favor of Due Diligence   4.60
758      182                                     Toothpick   4.03
759       72                                 Winter's Bite   3.77
760       44                         Bonecarvin Battle Axe   2.38
761       17                  Lazarus, Terror of the Earth   1.70
762      110                                    Suspension   1.44
763       85                                Malificent Bag   1.75
764      113                             Solitude's Reaver   4.07
765      130                                         Alpha   2.07
766       58             Freak's Bite, Favor of Holy Might   4.14
767       92                                  Final Critic   4.88
768       92                                  Final Critic   4.88
769      145                          Fiery Glass Crusader   4.58
770       12                                         Dawne   1.02
771       25                                     Hero Cane   4.35
772      136                  Ghastly Adamantite Protector   3.58
773       19                 Pursuit, Cudgel of Necromancy   1.02
774      101                                  Final Critic   4.19
775       60                                          Wolf   3.54
776      164                              Exiled Doomblade   1.63
777       67         Celeste, Incarnation of the Corrupted   3.46
778      101                                  Final Critic   4.19
779       50                                          Dawn   4.60

[780 rows x 3 columns]

In [155]:
#Group by ID and Name

item_info= Items_df.groupby(['Item ID', 'Item Name'])
item_info

In [156]:
#Find number of times items have been bought

item_count= item_info['Price'].count()
item_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         3
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
5        Putrid Fan                                       4
6        Rusty Skull                                      2
7        Thorn, Satchel of Dark Souls                     7
8        Purgatory, Gem of Regret                         3
9        Thorn, Conqueror of the Corrupted                4
10       Sleepwalker                                      4
11       Brimstone                                        5
12       Dawne                                            6
13       Serenity                                         4
14       Possessed Core                                   2
15       Soul Infused Crystal                             5
16       Restored Bauble                                  4
17       Lazarus, Terror of the Earth                     4
18       Torchlight, Bond of Storms                       2
19       Pursuit, Cudgel of Necromancy                    8
20       Netherbane                                       5
21       Souleater                                        5
22       Amnesia                                          6
23       Crucifer                                         1
24       Warped Fetish                                    5
25       Hero Cane                                        6
26       Unholy Wand                                      2
27       Riddle, Tribute of Ended Dreams                  1
28       Flux, Destroyer of Due Diligence                 2
29       Chaos, Ender of the End                          5
                                                         ..
154      Feral Katana                                     4
155      War-Forged Gold Deflector                        5
156      Soul-Forged Steel Shortsword                     5
157      Spada, Etcher of Hatred                          4
158      Darkheart, Butcher of the Champion               2
159      Oathbreaker, Spellblade of Trials                7
160      Azurewrath                                       6
161      Devine                                           5
162      Abyssal Shard                                    5
163      Thunderfury Scimitar                             5
164      Exiled Doomblade                                 7
165      Bone Crushing Silver Skewer                      4
166      Thirsty Iron Reaver                              3
167      Malice, Legacy of the Queen                      4
168      Sun Strike, Jaws of Twisted Visions              2
169      Interrogator, Blood Blade of the Queen           4
170      Shadowsteel                                      4
171      Scalpel                                          3
172      Blade of the Grave                               4
173      Stormfury Longsword                              2
174      Primitive Blade                                  4
175      Woeful Adamantite Claymore                       3
176      Relentless Iron Skewer                           2
177      Winterthorn, Defender of Shifting Worlds         2
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
180      Stormcaller                                      1
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 183, dtype: int64

In [157]:
#Find the total purchase value

purchase_value_items= item_info['Price'].sum()
purchase_value_items

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                         9.78
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
5        Putrid Fan                                      16.32
6        Rusty Skull                                      7.40
7        Thorn, Satchel of Dark Souls                     9.31
8        Purgatory, Gem of Regret                        11.79
9        Thorn, Conqueror of the Corrupted               10.92
10       Sleepwalker                                      7.16
11       Brimstone                                       18.25
12       Dawne                                            6.12
13       Serenity                                         5.64
14       Possessed Core                                   5.22
15       Soul Infused Crystal                            14.80
16       Restored Bauble                                 14.20
17       Lazarus, Terror of the Earth                     6.80
18       Torchlight, Bond of Storms                       9.30
19       Pursuit, Cudgel of Necromancy                    8.16
20       Netherbane                                      16.35
21       Souleater                                        5.50
22       Amnesia                                         13.08
23       Crucifer                                         1.99
24       Warped Fetish                                   19.05
25       Hero Cane                                       26.10
26       Unholy Wand                                      2.24
27       Riddle, Tribute of Ended Dreams                  3.30
28       Flux, Destroyer of Due Diligence                 2.12
29       Chaos, Ender of the End                          9.90
                                                         ...
154      Feral Katana                                    17.60
155      War-Forged Gold Deflector                        5.05
156      Soul-Forged Steel Shortsword                     8.85
157      Spada, Etcher of Hatred                         19.20
158      Darkheart, Butcher of the Champion               4.90
159      Oathbreaker, Spellblade of Trials               21.56
160      Azurewrath                                      26.40
161      Devine                                           8.80
162      Abyssal Shard                                   13.35
163      Thunderfury Scimitar                            17.25
164      Exiled Doomblade                                11.41
165      Bone Crushing Silver Skewer                     19.44
166      Thirsty Iron Reaver                              9.21
167      Malice, Legacy of the Queen                     14.44
168      Sun Strike, Jaws of Twisted Visions              2.96
169      Interrogator, Blood Blade of the Queen           8.72
170      Shadowsteel                                     15.88
171      Scalpel                                          5.37
172      Blade of the Grave                              12.56
173      Stormfury Longsword                              9.86
174      Primitive Blade                                 13.88
175      Woeful Adamantite Claymore                      13.44
176      Relentless Iron Skewer                           5.68
177      Winterthorn, Defender of Shifting Worlds         4.16
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
180      Stormcaller                                      3.36
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 183, dtype: float64

In [158]:
#Individual pricing of items

price_items= purchase_value_items/item_count
price_items

Item ID  Item Name
0        Splinter                                        1.28
1        Crucifer                                        3.26
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
5        Putrid Fan                                      4.08
6        Rusty Skull                                     3.70
7        Thorn, Satchel of Dark Souls                    1.33
8        Purgatory, Gem of Regret                        3.93
9        Thorn, Conqueror of the Corrupted               2.73
10       Sleepwalker                                     1.79
11       Brimstone                                       3.65
12       Dawne                                           1.02
13       Serenity                                        1.41
14       Possessed Core                                  2.61
15       Soul Infused Crystal                            2.96
16       Restored Bauble                                 3.55
17       Lazarus, Terror of the Earth                    1.70
18       Torchlight, Bond of Storms                      4.65
19       Pursuit, Cudgel of Necromancy                   1.02
20       Netherbane                                      3.27
21       Souleater                                       1.10
22       Amnesia                                         2.18
23       Crucifer                                        1.99
24       Warped Fetish                                   3.81
25       Hero Cane                                       4.35
26       Unholy Wand                                     1.12
27       Riddle, Tribute of Ended Dreams                 3.30
28       Flux, Destroyer of Due Diligence                1.06
29       Chaos, Ender of the End                         1.98
                                                         ...
154      Feral Katana                                    4.40
155      War-Forged Gold Deflector                       1.01
156      Soul-Forged Steel Shortsword                    1.77
157      Spada, Etcher of Hatred                         4.80
158      Darkheart, Butcher of the Champion              2.45
159      Oathbreaker, Spellblade of Trials               3.08
160      Azurewrath                                      4.40
161      Devine                                          1.76
162      Abyssal Shard                                   2.67
163      Thunderfury Scimitar                            3.45
164      Exiled Doomblade                                1.63
165      Bone Crushing Silver Skewer                     4.86
166      Thirsty Iron Reaver                             3.07
167      Malice, Legacy of the Queen                     3.61
168      Sun Strike, Jaws of Twisted Visions             1.48
169      Interrogator, Blood Blade of the Queen          2.18
170      Shadowsteel                                     3.97
171      Scalpel                                         1.79
172      Blade of the Grave                              3.14
173      Stormfury Longsword                             4.93
174      Primitive Blade                                 3.47
175      Woeful Adamantite Claymore                      4.48
176      Relentless Iron Skewer                          2.84
177      Winterthorn, Defender of Shifting Worlds        2.08
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
180      Stormcaller                                     3.36
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Name: Price, Length: 183, dtype: float64

In [161]:
#Create DF to show results

most_pop_items= pd.DataFrame({'Purchase Count': item_count, 
                             'Item Price': price_items, 
                             'Total Value Purchased': purchase_value_items})

pop_format = most_pop_items.sort_values(['Purchase Count'], ascending=False).head()

pop_format.style.format({'Item Price': '${:,.2f}',
                        'Total Value Purchased': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [162]:
#Extract the most pop items DF and find the highest Total Value Purchase

pop_format = most_pop_items.sort_values(['Total Value Purchased'], ascending=False).head()


#Format
pop_format.style.format({'Item Price': '${:,.2f}',
                        'Total Value Purchased': '${:,.2f}'})